{{!< default}}

<div class="container">
    {{#post}}
        <article class="post-container {{post_class}}">
            <div class="post-content clearfix">

{{! No indention to prevent handlebars indenting <pre> tag content}}
{{{content}}}

                {{#if tags}}
                    <p class="post-tags"><span>Tagi:</span> {{tags}}</p>
                {{/if}}
            </div>
        </article>
    {{/post}}
</div>
