{{!< default}}

<nav class="recent-posts tag">
    <div class="big-post-wrapper">
        <div class="big-post-img" style="background-image: url('{{ img_url tag.feature_image }}')">
            <div class="big-post-text">
                <p class="post-date tags">Posty z tagiem:</p>
                <h1 class="post-title">
                    {{ tag.name }}
                </h1>
            </div>
        </div>
    </div>
</nav>

{{> post-list from="0"}}
