$primary: #F03838;
$secondary: #303030;
$background: #FEFEFE;

$basic-sans: "Open Sans", arial, sans-serif;
$alt-sans: 'Dosis', sans-serif;

$site-width: 1200px;
$post-width: 900px;

$font-main-size: 18px;


%center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// @include absolute(top 0 left 1em);
// @include fixed(top 1em left "WAT? A STRING?!" right 10% bottom)
@mixin position($position, $args) {
    @each $o in top right bottom left {
        $i: index($args, $o);

        @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number  {
            #{$o}: nth($args, $i + 1);
        }
    }

    position: $position;
}

@mixin absolute($args) {
    @include position(absolute, $args);
}

@mixin fixed($args) {
    @include position(fixed, $args);
}

@mixin relative($args) {
    @include position(relative, $args);
}
